/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

//  body{
// line-height:1.5;
// min-height:100vh;
//  }

 img,
  picture {
    max-width: 100%;
    display: block;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}
@font-face {
  font-family: 'Alata';
  src: url('/assets/fonts/Alata/Alata-Regular.ttf') format('truetype');

  font-weight: 400;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/assets/fonts/Josefin_Sans/static/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
}



@font-face {
  font-family: 'Josefin Sans';
  src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}


body{
    width:100vw;
    
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    color:var(--color-primary-100);
    overflow-x: hidden;
    padding-top:80px;
    
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  

     

}

  main {
  flex: 1;
}

.hero{
    // position:relative;
    background-image: url('../images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    color:var(--color-primary-100);
    min-height:70vh;
    display: grid;
    place-content: center;
    
}

 .hero__title {
    font-family: var(--ff-heading);
    font-size: var(--fs-hero);
    line-height: var(--lh-heading);
    font-weight:var(--fw-light);
    // letter-spacing: var(--ls-heading);
    color:var(--color-primary-100);
    text-transform: uppercase;
}
.hero__content{
    // padding-top: var(--header-top-space);
    // padding-bottom: var(--header-bottom-space);
    border: 3px solid var(--color-primary-100);
    padding:2rem;
    min-width:300px;
    // margin:0 auto;
    width:100%;
}

.hero__container{
    padding:2rem;
    
}

// navigation styles

.header {
  // background: #5032325c;
//   background-color:var(--color-primary-100);
  color: var(--color-primary-100);
  // padding: 0.8rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  
    background-color: rgba(66, 15, 102, 0.9);
}
.header-inner{
   display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 0.8rem 2rem;
}


.menu-btn {
    display:none; /* Show hamburger button on mobile */
    color:white;
  }
  .menu-btn{
    display:block;
    background:none;
    border:none;
    font-size: 2rem;
    cursor:pointer;
    margin-left:auto;
    z-index:2000;
   
    margin-right:1em;
}





.nav-list {
  position: fixed;
  list-style:none;
  display:flex;
  gap:2em;
  top: 0;
  right: -100%; /* hidden off screen */
  width: 100%;
  height: 100vh;
  background: black;
  flex-direction:column;
  justify-content:start;
  align-items:left;
  transition: right 0.3s ease;
  margin-top:0;
  text-transform:uppercase;
  padding-top:2em;
  font-family:var(--ff-heading);
  font-weight:var(--fw-light);

}
.nav-list > .mobile-logo{
  align-self: flex-start;
  margin-bottom: 8em;
}

// when menu is open 
.nav-list.open {
  right: 0; /* slide in */
}



nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:2em;
    
}

li{
  text-decoration:none;
}





.nav-list-item a {
    text-decoration: none;
    color:var(--color-primary-100);
    font-weight: var(--fw-400);
    // transition: color 0.3s ease;
    
}


.nav-list-item {
    margin-left: 10px;
    font-size: 1.1rem;
   
}


.nav-logo {
//   width: 144px; /* default desktop size */
  display: block;
  
//   width: 24px;
  max-width: 100%;
 
}


// styling the active mode of the link when the user is in a determined page this will happen the link is active
.nav-link {
  text-decoration: none;
  color: var(--color-primary-100);
  font-size: var(--fs-2);
  position: relative;
  font-family:var(--ff-heading);
  font-weight:var(--fw-light);



}

.nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust as needed */
  left: 0;
  right: 0;
  height: 2px;
  width:0;
  background-color: var(--color-primary-100); /* Underline color */
 
  transition: width 0.3s ease;
}

// animate on hover

.nav-link:hover::after {
 
  width:100%;
  

}


.nav-logo:hover {
    cursor: pointer;
    color:var(--color-tertiary-100);
}
.active{
  opacity:0.5;
}

// article styles


.article__content{
    padding:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:4em;
    flex-direction:column;
    margin-top:2em;
}

.article__title
{
    font-family: var(--ff-heading);
    font-size: var(--fs-1);
    line-height: var(--lh-heading);
    font-weight:var(--fw-light);
    // letter-spacing: var(--ls-heading);
    color:var(--color-secondary-100);
    text-transform: uppercase;
    text-align:center;
   
}
.article__description{
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    font-family:var(--ff-body);
    color:var(--color-description);
    text-align:center;
    margin-top:1em;
   

    font-weight:300;
    
}

// gallery styles

.gallery{
    padding:2rem;
    display:grid;
    gap:2em;
    grid-template-columns: repeat(minmax(250px, 1fr));
   
    margin-top:2em;
}
.title__gallery{
    font-family: var(--ff-heading);
    font-size: var(--fs-1);
    line-height: var(--lh-heading);
    font-weight:var(--fw-light);
    // letter-spacing: var(--ls-heading);
    color:var(--color-secondary-100);
    text-transform: uppercase;
    text-align:center;
}
.gallery__item{
    position:relative;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
}
.gallery__item:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.gallery__container{
  gap:2em;
  display:grid;
}
.image__title{
    position:absolute;
    bottom:1em;
    left:1em;
    color:var(--color-primary-100);
    font-family: var(--ff-heading);
    font-size: var(--fs-2);
    line-height: var(--lh-heading);
    font-weight:var(--fw-light);
    // letter-spacing: var(--ls-heading);
    text-transform: uppercase;
}
.gallery__button{
    background:none;
    border:1px solid var(--color-primary-100);
    color:var(--color-secondary-100);
    padding:0.5em 2em;
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    text-transform: uppercase;
    margin: 0 auto;
    display:block;
    margin-top:2em;
    cursor:pointer;
    letter-spacing: 4.5px;
    border: 1px solid var(--color-secondary-100);
}
.gallery__button:hover{
    background:var(--color-secondary-100);
    color:var(--color-primary-100);
    border:1px solid var(--color-primary-100);
    
}

// footer styles
.footer__socials{
    display:flex;
    gap:1em;
    justify-content:center;
    align-items:center;
    margin-top:2em;
    color:var(--color-primary-100);
}
// .footer-logo{
//   width:20px;
//   height:20px;
// }
.footer__socials a{
    color:var(--color-primary-100);
    font-size: 1.5rem;
    transition: color 0.3s ease;
    width:30px;
    height:30px;
}
.footer__socials a:hover{
    color:var(--color-secondary-100);
    

}

.footer__container{
  
    // display:grid;
    //  grid-template-columns: 1fr;
     display:flex;
     flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2em;
    background-color: black;
    padding-top:3em;
    padding-bottom:2em;
}
// .footer__nav{
//     display:flex;
//     gap:2em;
//     justify-content:center;
//     align-items:center;
//     flex-direction:column;
// }
.footer__nav{
  display:flex;
 flex-direction:row;
 justify-content:center;
 align-items:center;

}

.nav-footer-list{
    display:flex;
    gap:2em;
    flex-direction:column;
    list-style:none;
    align-items:center;
}
.nav-footer-list li  {
    text-decoration:none;
    // position:relative;
    color:var(--color-primary-100);
    font-size: var(--fs-5);

    font-family: var(--ff-body);
    
   
    cursor:pointer;
}

.nav-footer-item{
  position:relative;
  text-decoration:none;
  color:var(--color-primary-100);
  font-size: var(--fs-5);

    font-family: var(--ff-body);

}
.nav-footer-item::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust as needed */
  left: 0;
  right: 0;
  height: 2px;
  width:0;
  background-color: var(--color-primary-100); /* Underline color */
 
  transition: width 0.3s ease;
}
.nav-footer-item:hover::after{
    width:100%;
}


.copyright{
    color:var(--color-description);
    font-size: var(--fs-small);
    font-family: var(--ff-body);
    text-align: center;
}
